[disease]
path=disease_NER_dataset
train=NCBItrainset_corpus_d_CoNLL_shuffled.txt
develop=NCBIdevelopset_corpus_d_CoNLL.txt
test=NCBItestset_corpus_d_CoNLL.txt

[phenotype]
path=phenotype_NER_dataset
train=HPO_training_abstract_one_CoNLL_shuffled.txt
develop=HPO_development_abstract_CoNLL.txt
test=HPO_testing_abstract_CoNLL.txt

[m2c]
path=Mark2Cure_NER_dataset
M2C1=M2C1-Disease_Phen_Preliminary_Run_1st_pass.txt
M2C2=M2C2-Disease_Phen_Preliminary_Run_1st_pass.txt
M2C3=M2C3-Disease_Phen_Preliminary_Run_1st_pass.txt
M2C5=M2C5-Disease_Phen_Preliminary_Run_1st_pass.txt
M2C6_2nd=M2C6-Disease_Phen_Preliminary_Run_2nd_pass.txt
M2C6_1st=M2C6-Disease_Phen_Preliminary_Run_1st_pass.txt

[m2c_citizen_disease]
path=Mark2Cure_citizen_disease
M2C1=M2C1-Disease_Phen_Preliminary_Run_1st_pass.txt
M2C2=M2C2-Disease_Phen_Preliminary_Run_1st_pass.txt
M2C3=M2C3-Disease_Phen_Preliminary_Run_1st_pass.txt
M2C5=M2C5-Disease_Phen_Preliminary_Run_1st_pass.txt
M2C6_2nd=M2C6-Disease_Phen_Preliminary_Run_2nd_pass.txt
M2C6_1st=M2C6-Disease_Phen_Preliminary_Run_1st_pass.txt

[m2c_citizen_phenotype]
path=Mark2Cure_citizen_phenotype
M2C1=M2C1-Disease_Phen_Preliminary_Run_1st_pass.txt
M2C2=M2C2-Disease_Phen_Preliminary_Run_1st_pass.txt
M2C3=M2C3-Disease_Phen_Preliminary_Run_1st_pass.txt
M2C5=M2C5-Disease_Phen_Preliminary_Run_1st_pass.txt
M2C6_2nd=M2C6-Disease_Phen_Preliminary_Run_2nd_pass.txt
M2C6_1st=M2C6-Disease_Phen_Preliminary_Run_1st_pass.txt

[m2c_expert_disease]
path=M2C_expert_disease
file=annotations.txt

[m2c_expert_phenotype]
path=M2C_expert_phenotype
file=annotations.txt

[m2c_new_labels]
path=M2C_new_labels

[analysis]
path=linked_results_pmid_anntext_id_only.xlsx

[glad_results]
path=glad_results
disease=disease_results.csv
phenotype=phenotype_results.csv
combined=combined_relevant_results.csv
